body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    0deg,
    rgba(71, 124, 221, 1) 0%,
    rgba(228, 227, 90, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 5px;
}

.active {
  color: #477cdd;
  background-color: white;
  border-radius: 4px;
}

.pending {
  color: yellow;
}
